@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.search-title {
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.115;
  letter-spacing: -1.5%;
}

.search-result {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.172;
}

.all-results {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 13px;
  line-height: 1.172;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.see-more {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 13px;
  line-height: 1.172;
  letter-spacing: 4%;
  text-transform: uppercase;
  text-align: center;
}
